
body {
    background-color: black;  
    text-align: center;
}

#fonte {
    color: purple;
}

#fonte1  {
    font-family: 'Noto Serif TC', serif;   
    color: aqua;  
}

#fonte2  {
    font-family: 'Oregano', cursive;
    color: blue;
}

#fonte3  {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    color:green;
}

#fonte4  {
    font-family: 'VT323', monospace;
    font-size: 18px;
    color:yellow
}

#fonte5  {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    color:pink;
}
