#fonte {
    font-family: 'Noto Serif TC', serif ;
}



CSS rules to specify families

font-family: 'Amatic SC', cursive;
font-family: 'Noto Serif TC', serif;
font-family: 'Oregano', cursive;
font-family: 'Play', sans-serif;
font-family: 'VT323', monospace;